<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
    <title>LearnIT</title>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
<my-app></my-app>
</body>
</html>
